<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Document {% endblock titulo %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />


		
 
</head>

<body>
	
	
	
    	<form method = "POST" enctype="multipart/form-data">
			{% csrf_token %}  
			{{form.as_p}}

			<br>

			<input type ="submit" value = "Registrar">
			<input type ="reset" value = "Cancelar">	
		</form>

		<p><a href="/">Volver</a></p>	

    <script src="{% static 'app/scripts/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>


</body>
</html>

